<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>log in</title>
	<link rel="stylesheet" href="{% static 'css/loginform_alumni.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="hero">
		<div class="closeIcon"><a href="/"><i class="fa fa-times close-icon-reset-link" aria-hidden="true"></i></a></div>
		<div class="formbox-reset-link">

			<div class="button-box">
				<div id="btn"></div>
				<center><button type="button" id="login1" class="toggle-btn" style="background-image:linear-gradient(to right); background-color:#76CCF1; border-radius:30px; transition:.5s; width:65%;">Forgot Password</button></center>


			</div>
			<form id="login" class="input-group" action="email_link_alumni" method="post">
				{% csrf_token %}
				<input type="email" class="input-field email-reset-link" name="alumni_email" placeholder="Email Id" required>
				<center><button type="submit" class="submit-btn-reset-link">Send Reset Link</button></center>
			</form>

		</div>
	</div>

	{% for message in messages %}
		<script>
			confirm("{{message}}");
		</script>
	{% endfor %}

</body>

</html>