<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="home">
        <div class="home-max-width">
            <div id="home-content">
                <div id="home-text-1">FUTURE BUILD TOGETHER</div>
                <div id="home-text-2">Know More To Go Better Stage And <br>Step Up Your Career Towards More Success...</div>
                <a href="register_student">Student</a>
                <a href="register_alumni">Alumni</a>
            </div>
        </div>
    </div>
</body>

</html>