<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>log in</title>
	<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="hero">
		<div class="closeIcon"><a href="/"><i class="fa fa-times" aria-hidden="true"></i></a></div>
		<div class="formbox">

			<div class="button-box">
				<div id="btn"></div>
				<center><button type="button" id="login1" class="toggle-btn" style="width: 65%;">Reset Password</button>
				</center>


			</div>
			<form id="login" class="input-group" action="http://127.0.0.1:8000/new_password" method="post"
				target="_blank">
				{% csrf_token %}
				<input type="password" class="input-field" name="reset_pass" placeholder="Password" required>
				<input type="password" class="input-field" name="reset_con_pass" placeholder="Confirm Password"
					required>
				<center><button type="submit" class="submit-btn">Save</button></center>
			</form>

		</div>

	</div>

	{% for message in messages %}
	<script>
		confirm("{{message}}");
	</script>
	{% endfor %}

</body>

</html>